.card-border{
    border: solid 10px #6c0bad;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
} 
.card-border:hover{
    transform: scale(1.05);
} 



@media (max-width: 900px) {
    .Cursos {
        padding: 60px;
        
    }
}